<yandex>
    <remote_servers incl="{{ zookeeper_clickhouse_cluster_name }}">
    </remote_servers>
    <zookeeper incl="zookeeper">
    </zookeeper>
    <macros incl="macros">
    </macros>
</yandex>
