[Unit]
Description=zookeeper:{{ clickhouse_zookeeper_version }}
After=network.target

[Service]
Type=forking
User={{ clickhouse_zookeeper_user }}
Group={{ clickhouse_zookeeper_user }}

WorkingDirectory=/opt/zookeeper

ExecStart=/opt/zookeeper/bin/zkServer.sh start
ExecStop=/opt/zookeeper/bin/zkServer.sh stop
ExecReload=/opt/zookeeper/bin/zkServer.sh restart

RestartSec=30
Restart=always

PrivateTmp=yes
PrivateDevices=yes

LimitCORE=infinity
LimitNOFILE=500000

[Install]
WantedBy=multi-user.target
Alias=zookeeper.service
